/* Наши клиенты */
.clients {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;

  @media (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients__item {
  // flex-basis: calc(100% / 6 - var(--examples-gap));

  @media (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - var(--examples-gap));
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.clients__link {
  display: block;
}

.clients__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: var(--icon-color-gray);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;

  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--logo-text-color);
    border: 1px solid var(--logo-text-color);
    outline: none;
  }
}

.clients__icon {
  fill: currentColor;
}
