/* FEATURES */

.features {
  padding-top: 94px;

  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__list {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.features__item {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__heading {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  display: flex;
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-gray-color);
}
