/* HEADER */

.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* NAV */

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--logo-text-color);
    outline: var(--logo-text-color);
  }
}

.nav-list__link--current {
  color: var(--logo-text-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--logo-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -2px;
  }
}

/* CONTACTS */
.nav-contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.nav-contacts__item {
  display: flex;
  align-items: center;
}

.nav-contacts__link {
  display: block;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;

  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--logo-text-color);
    outline: var(--logo-text-color);
  }
}

.nav-contacts__link--pos {
  margin-bottom: 10px;
}

.nav-contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
