/* EXAMPLES BTN */

.examples-field {
  display: flex;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.examples-field__item:nth-child(-n + 3) {
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.examples-field__item:not(:last-child) {
  margin-right: 8px;
}

.examples-field__btn {
  padding: 6px 22px;

  background-color: var(--background-gray-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: none;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--logo-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* EXAMPLES */

.examples {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--examples-gap));
    margin-bottom: calc(-1 * var(--examples-gap));
  }
}

.examples__item {
  margin-bottom: var(--examples-gap);
  box-shadow: none;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .examples__overlay {
    transform: translatey(0);
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - var(--examples-gap));
    margin-right: var(--examples-gap);
  }

  @media (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--examples-gap));
    margin-right: var(--examples-gap);
  }
}

.examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(
    101% /* 101% - чтоб не было синей полоски между оверлеем и картинкой */
  );
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.examples__note {
  color: var(--white-text-color);

  font-size: 18px;
  line-height: 1.55;
}

.examples__wrapper {
  flex-grow: 1;
  padding: 20px 22px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0, 25;
}

.examples__heading {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.examples__text {
  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.9;
}
