/*SOCIALS-NET*/

.socials {
  display: flex;
  // margin-right: -10px;

  @media (max-width: 1199px) {
    justify-content: center;
  }
}

.socials__item {
  margin-right: 10px;

  // @media (min-width: 768px) {
  //   flex-basis: calc(100% / 4 - 10px);
  // }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-text-color);
  fill: var(--icon-color-gray);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--white-text-color);
    background-color: var(--logo-text-color);
    outline: none;
  }
}

.socials__link--color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-text-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--logo-text-color);
    outline: none;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
}
