:root {
  --primary-text-color: rgb(33, 33, 33);
  --logo-text-color: rgb(33, 150, 243);
  --secondary-text-color: rgb(0, 0, 0);
  --paragraph-text-color: rgb(117, 117, 117);
  --white-text-color: rgb(255, 255, 255);
  --white-text-color-op: rgba(255, 255, 255, 0.6);
  --background-gray-color: rgb(245, 244, 250);
  --hero-footer-main-page: rgb(47, 48, 58);
  --icon-color-gray: rgb(175, 177, 184);
  --primary-font-family: Roboto;
  --logo-font-family: Raleway;
  --examples-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
